<!-- bootstrap使用 -->
<div class="container">
  <div class="row">
    <div class="col-xs-3">
        <h2>User info</h2>
          <div class="profile_image">  
           <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img- pull-left profile-img", fallback: "no_image.jpg" %>
          </div>

            <table class="table">
              <tr>
                <th class="title-text">name</th>
                <th class="title-text"><%= current_user.name %></th>
              </tr>

              <tr>
                <th class="title-text">introduction</th>
                <th class="title-text"><%= current_user.introduction %></th>
              </tr>

              <tr>
                <th class="title-text">follows</th>
                <th class="title-text">
                  <%= link_to @user.following_user.count, users_follower_path(id:@user.id) %>
                </th>
              </tr>

              <tr>
                <th class="title-text">followers</th>
                <th class="title-text">
                  <%= link_to @user.follower_user.count, users_followed_path(id:@user.id) %>
                </th>

              </tr>
            </table>

            <%= link_to '', edit_user_path(current_user.id),class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>


        <%= form_for(@book) do |f| %>
        <% if @book.errors.any? %>
              <p>error</p>
          <div class="alert alert-warning">
            <ul>
              <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <h2>New book</h2>

        <h4>Title</h4>
        <%= f.text_field :title %>

        <h4>Opinion</h4>
        <%= f.text_area :body %>

        <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book">


        <% end %>
    </div>



    <div class="col-xs-9">
     <h2>Users</h2>
      <table class="table table-striped">
        <tr>
         <th class="profile_image_id">image</th>
         <th class="title-text">name</th>
         <th class="follow_botton"></th>
         <th class="title-text"></th>
        </tr>

      <% @users.each do |user| %>

        <tr>
         <td class="title-text">
          <%= attachment_image_tag user, :profile_image, :fill, 40,40, format: 'jpeg', class: "img- pull-left profile-img", fallback: "no_image.jpg", size:'40x40' %> </td>
         <td class="title-text"><%= user.name %></td>
         <td class="follow_botton">
           <%= render 'relationships/follow_text', user: user %>
         </td>

         <td><%= link_to "Show", "/users/#{user.id}" %></td>

        </tr>

      <% end %>
      </table>
    </div>
  </div>
</div>